body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.box{
	height: 100vh;
	background: url(../img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 10em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	mix-blend-mode: overlay;
	background-color: rgba(0,0,0,.5);
}